[submodule "BLIP3o"]
	path = BLIP3o
	url = https://github.com/weixingW/BLIP3o.git
[submodule "Emu3"]
	path = Emu3
	url = https://github.com/weixingW/Emu3.git
[submodule "Janus"]
	path = Janus
	url = https://github.com/weixingW/Janus.git
[submodule "MMaDA"]
	path = MMaDA
	url = https://github.com/weixingW/MMaDA.git
[submodule "OmniGen2"]
	path = OmniGen2
	url = https://github.com/weixingW/OmniGen2.git
[submodule "Show-o"]
	path = Show-o
	url = https://github.com/weixingW/Show-o.git
[submodule "diffusers"]
	path = diffusers
	url = https://github.com/weixingW/diffusers.git
[submodule "transfusion-pytorch"]
	path = transfusion-pytorch
	url = https://github.com/weixingW/transfusion-pytorch.git
